.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}

form {

  label,
  mat-radio-button,
  input,
  ::placeholder,textarea {
    font-size: 14px;
    font-weight: normal;
  }
 
  .validator {
    color: red;
    font-size: 12px;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


}